<% provide(:title, "Help") %>
  <h1>Help</h1>
  <p>Para obter ajuda ou informações sobre a aplicação MicroMsg
  <a href="https://github.com/samuelrubens/microblog" target="_blank">Clique aqui</a>
</p>
