<% provide(:title, "Home") %>
	<h1>MicroMsg</h1>
	<p>
	  Esta é a pagina inicial para a aplicação Micro Msg. trata-se de uma aplicação feita para fins acadêmicos e qualquer semelhança com o Twitter não é mera coincidência.
	  <br/>
	  Para mais informações <a href="https://github.com/samuelrubens/microblog" target="_blank">Clique aqui</a>
	</p>
